/* PRODUCT MANAGEMENT CON NUEVAS CLASES */
.pm-container {
  margin-top: 30px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 0 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.pm-container.active {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.pm-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 20px;
  width: 220px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.pm-card:hover {
  transform: translateY(-5px);
}

.pm-card img {
  width: 100%;
  border-radius: 15px;
  height: 220px;
  object-fit: cover;
  margin-bottom: 15px;
}

.pm-card h4 {
  color: #5a0c17;
  font-size: 17px;
  margin-bottom: 8px;
  min-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pm-card p {
  font-size: 14px;
  margin: 5px 0;
  color: #3e2c23;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pm-price {
  font-weight: bold;
  color: #5a0c17;
  margin-top: 5px;
}

/* BOTÓN EDIT PRODUCT */
.btn-edit {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: #5a0c17;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
}

.btn-edit:hover {
  background-color: #7a1020;
  transform: translateY(-2px);
}

.btn-edit:active {
  transform: scale(0.95);
}

/* BOTÓN FLOTANTE + */
.create-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  background: #5a0c17;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-btn:hover {
  background: #7a1020;
}

/* MENÚ FLOTANTE DEL BOTÓN + */
.create-menu {
  position: fixed;
  bottom: 90px;
  right: 20px;
  background: white;
  border-radius: 15px;
  padding: 10px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  width: 170px;
  display: flex;
  flex-direction: column;
}

.create-menu button {
  background: none;
  border: none;
  padding: 12px 15px;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  color: #5a0c17;
  font-weight: bold;
}

.create-menu button:hover {
  background: #f3e6e8;
}
