.admin-container {
  width: 100vw;
  height: 100vh; /* FULL PANTALLA */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0; 
  margin: 0;
}

.admin-card {
  width: 75%;
  max-width: 1100px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  padding: 40px 50px;
  border-radius: 25px;
}

.admin-title {
  text-align: center;
  margin-bottom: 25px;
  color: white;
  font-size: 28px;
  letter-spacing: 2px;
}

.admin-input input,
.admin-input textarea {
  width: 100%;
  padding: 12px 18px;
  border-radius: 30px;
  border: none;
  margin-bottom: 18px;
  background: rgba(142, 23, 23, 0.8);
  color: white;
}

textarea {
  height: 90px;
  resize: none;
}

.admin-img-preview {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
  margin: 15px auto;
  display: block;
}

.ingredients-title {
  margin-top: 25px;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
}

.ingredient-row {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.ingredient-row input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: rgba(142, 23, 23, 0.8);
  color: white;
}

.remove-ing {
  background: #8b1a1a;
  border: none;
  color: white;
  padding: 5px 12px;
  border-radius: 12px;
  cursor: pointer;
}

.add-ing-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 25px;
  background: #8b1a1a;
  color: white;
  border: none;
  cursor: pointer;
}

.admin-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.save-btn,
.erase-btn {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.save-btn {
  background: white;
  color: #8b1a1a;
}

.erase-btn {
  background: #c9c9c9;
  color: #8b1a1a;
}
